footer.footer 
    .container-xl
        .wrp-head.text-center
            h2.text-center.text-md-start 
                span.text-center.text-md-start need a doctor for check up 
                | Just make a appointment 
            
            a.btn(href="") Make an Appointment
        
        .wrp-body
            .row 
                .col-12.col-lg-6
                    .footer-logo 
                        a(href="") Le-Beauty 
                    .footer-about 
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

                        .office.location 
                            span 59 Street, 1200 Techpark 
                        .office.phone 
                            span 0123456789
                        .office.time 
                            span 08.00 - 17.00, Monday - Sunday 
                
                .col-12.col-md-6.col-lg-3 
                    h4 Quick Link

                    ul.link-bottom 
                        li: a(href="") Who We Are 
                        li: a(href="") Our Mission 
                        li: a(href="") Awards 
                        li: a(href="") Experience 
                        li: a(href="") Success Story 

                .col-12.col-md-6.col-lg-3 
                    h4 Department 

                    ul.link-bottom 
                        li: a(href="") Who We Are 
                        li: a(href="") Our Mission 
                        li: a(href="") Awards 
                        li: a(href="") Experience 
                        li: a(href="") Success Story     
    
    .footer-copy 
        p.text-center © Copyright Le-Beauty 2019. All Right Reserved. Designed and Developed by LessCreate