#header.navbar
    .container-lg 
        .header-info 
            .logo 
                a(href="") Gidilu 
            .text-info 
                span T:+92 389 856 47

                button.navbar-toggler.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#toggleNav" aria-controls="toggleNav" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon

        
        .collapse.navbar-collapse#toggleNav 
            ul.navbar-nav 
                li.nav-item 
                    a.nav-link(href="") Home 
                li.nav-item 
                    a.nav-link(href="") Cases
                li.nav-item 
                    a.nav-link(href="") Service
                li.nav-item 
                    a.nav-link(href="") Contact
                li.nav-item 
                    a.nav-link.line(href="") 
                        span Menu
                
