.l-doctor
    .row 
        .doctor.col-xs-6.col-lg-3 
            .card 
                .card-header 
                    a(href="") 
                        img(src="/assets/images/doctor-01.jpg" srcset="/assets/images/doctor-01@2x.jpg 2x, /assets/images/doctor-01@3x.jpg 3x" alt="")
                .card-body 
                    .doctor-name 
                        a(href="") Micheal Scofield
                    .doctor-position 
                        a(href="") Lead of Doctors
        .doctor.col-xs-6.col-lg-3 
            .card 
                .card-header 
                    a(href="") 
                        img(src="/assets/images/doctor-02.jpg" srcset="/assets/images/doctor-02@2x.jpg 2x, /assets/images/doctor-02@3x.jpg 3x" alt="")
                .card-body
                    .doctor-name 
                        a(href="") Micheal Scofield
                    .doctor-position 
                        a(href="") Lead of Doctors
        .doctor.col-xs-6.col-lg-3 
            .card 
                .card-header 
                    a(href="") 
                        img(src="/assets/images/doctor-03.jpg" srcset="/assets/images/doctor-03@2x.jpg 2x, /assets/images/doctor-03@3x.jpg 3x" alt="")
                .card-body 
                    .doctor-name 
                        a(href="") Micheal Scofield
                    .doctor-position 
                        a(href="") Lead of Doctors
        .doctor.col-xs-6.col-lg-3 
            .card
                .card-header
                    a(href="") 
                        img(src="/assets/images/doctor-04.jpg" srcset="/assets/images/doctor-04@2x.jpg 2x, /assets/images/doctor-04@3x.jpg 3x" alt="")
                .card-body 
                    .doctor-name 
                        a(href="") Micheal Scofield
                    .doctor-position 
                        a(href="") Lead of Doctors