.l-news 
    .row 
        .news.col-xs-6.col-lg-4
            .wrp-news(data-aos="fade-up") 
                .news-image 
                    a.absolute.transparent(href="")
                        img.block.full.cover(src="/assets/images/news-img-01.jpg" srcset="/assets/images/news-img-01@2x.jpg 2x, /assets/images/news-img-01@3x.jpg 3x" alt="")
                .news-body 
                    .date 
                        span 
                            a(href="") Medicine 
                        span 
                            a(href="") Aug 6, 2019
                    h3 
                        a(href="") Medicine for headche 
        .news.col-xs-6.col-lg-4 
            .wrp-news(data-aos="fade-up") 
                .news-image 
                    a.absolute.transparent(href="")
                        img.block.full.cover(src="/assets/images/news-img-02.jpg" srcset="/assets/images/news-img-02@2x.jpg 2x, /assets/images/news-img-02@3x.jpg 3x" alt="")
                .news-body 
                    .date 
                        span 
                            a(href="") Medicine 
                        span 
                            a(href="") Aug 6, 2019
                    h3 
                        a(href="") Medicine for headche 
        .news.col-xs-6.col-lg-4 
            .wrp-news(data-aos="fade-up")
                .news-image 
                    a.absolute.transparent(href="")
                        img.block.full.cover(src="/assets/images/news-img-03.jpg" srcset="/assets/images/news-img-03@2x.jpg 2x, /assets/images/news-img-03@3x.jpg 3x" alt="")
                .news-body 
                    .date 
                        span 
                            a(href="") Medicine 
                        span 
                            a(href="") Aug 6, 2019
                    h3 
                        a(href="") Medicine for headche
        .news.col-xs-6.col-lg-4 
            .wrp-news(data-aos="fade-up") 
                .news-image 
                    a.absolute.transparent(href="")
                        img.block.full.cover(src="/assets/images/news-img-01.jpg" srcset="/assets/images/news-img-01@2x.jpg 2x, /assets/images/news-img-01@3x.jpg 3x" alt="")
                .news-body 
                    .date 
                        span 
                            a(href="") Medicine 
                        span 
                            a(href="") Aug 6, 2019
                    h3  
                        a(href="") Medicine for headche 
        .news.col-xs-6.col-lg-4 
            .wrp-news(data-aos="fade-up") 
                .news-image 
                    a.absolute.transparent(href="")
                        img.block.full.cover(src="/assets/images/news-img-02.jpg" srcset="/assets/images/news-img-02@2x.jpg 2x, /assets/images/news-img-02@3x.jpg 3x" alt="")
                .news-body 
                    .date 
                        span 
                            a(href="") Medicine 
                        span 
                            a(href="") Aug 6, 2019
                    h3 
                        a(href="") Medicine for headche 
        .news.col-xs-6.col-lg-4 
            .wrp-news(data-aos="fade-up") 
                .news-image 
                    a.absolute.transparent(href="")
                        img.block.full.cover(src="/assets/images/news-img-03.jpg" srcset="/assets/images/news-img-03@2x.jpg 2x, /assets/images/news-img-03@3x.jpg 3x" alt="")
                .news-body 
                    .date 
                        span 
                            a(href="") Medicine 
                        span 
                            a(href="") Aug 6, 2019
                    h3 
                        a(href="") Medicine for headche
