.l-testimonial 
    .row
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .testimonial 
                        .testimonial-wrp
                            .testimonial-header
                                .photo 
                                    img.block.full.cover-top(src="/assets/images/doctor-01.jpg", alt="")
                                .name
                                    | Frank Gallaghers 
                                    span Patient 
                            .testimonial-body 
                                p.text-center.text-md-start Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                .swiper-slide
                    .testimonial 
                        .testimonial-wrp
                            .testimonial-header
                                .photo 
                                    img.block.full.cover-top(src="/assets/images/doctor-02.jpg", alt="")
                                .name
                                    | Frank Gallaghers 
                                    span Patient 
                            .testimonial-body 
                                p.text-center.text-md-start Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                .swiper-slide 
                    .testimonial 
                        .testimonial-wrp
                            .testimonial-header
                                .photo 
                                    img.block.full.cover-top(src="/assets/images/doctor-03.jpg", alt="")
                                .name
                                    | Frank Gallaghers 
                                    span Patient 
                            .testimonial-body
                                p.text-center.text-md-start Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                
                .swiper-slide
                    .testimonial 
                        .testimonial-wrp
                            .testimonial-header
                                .photo 
                                    img.block.full.cover-top(src="/assets/images/doctor-01.jpg", alt="")
                                .name
                                    | Frank Gallaghers 
                                    span Patient 
                            .testimonial-body 
                                p.text-center.text-md-start Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                .swiper-slide
                    .testimonial 
                        .testimonial-wrp
                            .testimonial-header
                                .photo 
                                    img.block.full.cover-top(src="/assets/images/doctor-02.jpg", alt="")
                                .name
                                    | Frank Gallaghers 
                                    span Patient 
                            .testimonial-body 
                                p.text-center.text-md-start Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                .swiper-slide 
                    .testimonial 
                        .testimonial-wrp
                            .testimonial-header
                                .photo 
                                    img.block.full.cover-top(src="/assets/images/doctor-03.jpg", alt="")
                                .name
                                    | Frank Gallaghers 
                                    span Patient 
                            .testimonial-body
                                p.text-center.text-md-start Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                
        .btn-prev 
            i.icofont-long-arrow-left
        
        .btn-next 
            i.icofont-long-arrow-right

                            
