extends ../layout/default-layout.pug

block variables
    - var meta_title    = 'Lahore Based Digital Agency'
    - var meta_desc     = 'Free HTML using gulp, pug and sass'
    - var meta_keyword 	= 'free html, html, gulp 4.0, pug, sass, stater kick'
    - var meta_url      = ''
    - var meta_img      = ''
    - var pageClass     = ''
    - var header        = ''
    
block content
    .big-title
        .container-lg 
            p Lahore Based Digital Agency

            .social-media 
                span 
                    a(href="") Facebook 
                span 
                    a(href="") Instagram 
                span 
                    a(href="") Behance

    .heroes-banner 
        .container-lg
            .banner
                .swiper 
                    .swiper-wrapper
                        .swiper-slide
                            .banner-image
                                img.lazyload.img-absolute.center.d-block.d-md-none(src="images/banner-seo-mobile.jpg", alt="")
                                img.lazyload.img-absolute.center.d-none.d-md-block(src="images/banner-seo.jpg", alt="")
                            .banner-text.left-side
                                .h1 
                                    b Reach & connect with your 
                                    | target customer.
                                p Ensuring the best return on investment for your bespoke SEO campaign requirement.

                                .banner-form 
                                    form(action="")
                                        input.form-control-plaintext.form-control-sm(type="text", name="link" placeholder="Your Current Site Link")
                                        button.btn.btn-sm(type="submit") 
                                            span Analysis yoour site 

                        .swiper-slide
                            .banner-image
                                img.lazyload.img-absolute.center.d-block.d-md-none(src="images/banner-store-mobile.jpg", alt="")
                                img.lazyload.img-absolute.center.d-none.d-md-block(src="images/banner-store.jpg", alt="")
                            .banner-text.left-side
                                .h1 
                                    b Grow You'r online Business 
                                    | with us.
                                p Rorem ipsum dolor sit ametconsectetur adipiscing elit,tempor Rorem ipsum dolor sit ametconsectetur adipiscing eli.
                                    br 
                                    a.btn(href="#", target="_blank", rel="noopener noreferrer") 
                                        span Our All Service
                    .swiper-btn-prev
                        span prev
                    .swiper-btn-next
                        span next

                    .swiper-pagination
    
    .our-works
        .container-lg
            .c-title  
                p 
                    b Explore recent works
                p We’re constantly refining our product. Adding new features. Working to help your section business grow.
            .l-works 
                .swiper 
                    .swiper-wrapper
                        .swiper-slide.title 
                            .c-title  
                                p 
                                    b Explore recent works
                                p We’re constantly refining our product. Adding new features. Working to help your section business grow.
                        .swiper-slide
                            .works 
                                .wrp-works 
                                    .thumbs
                                        a(href="")
                                            img(src="images/work-01.jpg", alt="our works" title="our works")
                                    .body
                                        h3 Ilustrator for Invite Studio 
                                        p
                                            a.lbl.lbl-ilustator(href="") Ilustrator 
                                            a.lbl.lbl-website(href="") Website
                        .swiper-slide
                            .works 
                                .wrp-works 
                                    .thumbs
                                        a(href="")
                                            img(src="images/work-02.jpg", alt="our works" title="our works")
                                    .body
                                        h3 Admin Dashboard by Maxsol
                                        p
                                            a.lbl.lbl-website(href="") Dashboard 
                                            a.lbl.lbl-themes(href="") Themes
                        .swiper-slide
                            .works 
                                .wrp-works 
                                    .thumbs
                                        a(href="")
                                            img(src="images/work-03.jpg", alt="our works" title="our works")
                                    .body
                                        h3 Apps by Maxsol
                                        p
                                            a.lbl.lbl-apps(href="") Apps
                        .swiper-slide
                            .works 
                                .wrp-works 
                                    .thumbs
                                        a(href="")
                                            img(src="images/work-04.jpg", alt="our works" title="our works")
                                    .body
                                        h3 Ilustrator
                                        p
                                            a.lbl.lbl-website(href="") Website   
                    .swiper-pagination

    .our-service 
        .container-lg 
            .c-title  
                p 
                    b Featured service
                p We’re constantly refining our product. Adding new features. Working to help your section business grow.
            .row 
                .service.col-xs-6.col-md-4.col-lg-3
                    .wrp-service 
                        a(href="")
                            p 
                                span 01
                                b ui-ux design
                .service.col-xs-6.col-md-4.col-lg-3
                    .wrp-service 
                        a(href="")
                            p 
                                span 02
                                b design coding
                .service.col-xs-6.col-md-4.col-lg-3
                    .wrp-service 
                        a(href="")
                            p 
                                span 03
                                b branding
                .service.col-xs-6.col-md-4.col-lg-3
                    .wrp-service 
                        a(href="")
                            p 
                                span 04
                                b marketing
                .service.col-xs-6.col-md-4.col-lg-3
                    .wrp-service 
                        a(href="")
                            p 
                                span 05
                                b ios apps
                .service.col-xs-6.col-md-4.col-lg-3
                    .wrp-service 
                        a(href="")
                            p 
                                span 06
                                b custom cms
                .service.col-xs-6.col-md-4.col-lg-3
                    .wrp-service 
                        a(href="")
                            p 
                                span 07
                                b java apps
                .service.col-xs-6.col-md-4.col-lg-3
                    .wrp-service 
                        a(href="")
                            p 
                                span 08
                                b ecommerce



block script