extends ../layout/default-layout.pug

block variables
    - var meta_title    = 'Le-Beauty - Free HTML Beauty and Healthy'
    - var meta_desc     = 'Free HTML using gulp, pug and sass'
    - var meta_keyword 	= 'free html, html, gulp 4.0, pug, sass, stater kick'
    - var meta_url      = ''
    - var meta_img      = ''
    - var pageClass     = ''
    - var header        = ''

block content
    <!-- banner home page -->
    .banner
        img(src="/assets/images/main-banner.png" srcset="/assets/images/main-banner@2x.png 2x, /assets/images/main-banner@3x.png 3x")
        .container-xl
            h1(data-aos="fade-up") About
                br 
                | Le-Beauty 
            p(data-aos="fade-up") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac iaculis nisi, ac malesuada ante. 
            

    .appointment 
        .container-xl
            .row
                .col-lg-6.d-none.d-lg-flex
                    .img-appointment(data-aos="fade-up")
                        img(src="/assets/images/img-appointment.jpg" srcset="/assets/images/img-appointment@2x.jpg 2x, /assets/images/img-appointment@3x.jpg 3x")
                .col-lg-6
                    include ../components/appointment
    .container-xl
        .about-us.padd-pages
            .wrp-head 
                h2.text-center(data-aos="fade-up")
                    span about us 
                    | We have more than 
                    b 10 years 
                    | experience
                p.text-center.mb-0(data-aos="fade-up") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

        .our-service.padd-pages 
            .row 
                .col-lg-6
                    .wrp-head.text-center.text-lg-left(data-aos="fade-right")
                        h2.text-center.text-lg-left
                            span.text-center.text-lg-left  our service 
                            | We are providing the 
                            b top services 
                        p.text-center.text-lg-left Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        ul.d-none.d-lg-block
                            li Eye Care 
                            li Dental Care 
                            li Primary Care 
                            li Cardiology 
                        a(href="" class="btn btn-primary p-0") 
                            span All Services
                .col-lg-6 
                    .wrp-body 
                        .l-icon 
                            .row 
                                .col-6.left
                                    .icon(data-aos="fade-left")
                                        .wrp-icon
                                            i.icons.eye 
                                            span Eye Care 
                                    .icon(data-aos="fade-left")
                                        .wrp-icon
                                            i.icons.dental 
                                            span Dental Care 
                                .col-6.right
                                    .icon(data-aos="fade-left")
                                        .wrp-icon
                                            i.icons.primary 
                                            span Primary Care 
                                    .icon(data-aos="fade-left")
                                        .wrp-icon
                                            i.icons.cardiology 
                                            span Cardiology

        .our-doctor.padd-pages 
            .wrp-head(data-aos="fade-up") 
                h2.text-center 
                    span our doctor 
                    | They are 
                    b all experts 
            
            .wrp-body(data-aos="fade-up") 
                include ../components/list-doctor

        .join-team.padd-pages  
            .wrp-head(data-aos="fade-up") 
                h2.text-center 
                    | Wanna join our 
                    br 
                    span.text-line 
                        span.text team ?
                p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p.text-center.mb-0 
                    a.underline.primary(href="") View all career 
    
    .our-testimonial.padd-pages 
        .container-fluid
            .row 
                .col-lg-4 
                    .wrp-head(data-aos="fade-right")
                        h2.text-center.text-lg-start 
                            span.text-lg-start testimonial 
                            | what <b>clients</b> says about us
                .col-lg-8
                    .wrp-body(data-aos="fade-left")
                        include ../components/testimonial-home
    .our-blog.padd-pages  
        .container-xl 
            .wrp-head(data-aos="fade-up") 
                h2.text-center 
                    span our blog 
                    | Our 
                    b lastest 
                    | news 
            .wrp-body 
                include ../components/news-home
                p.text-center.mb-0(data-aos="fade-up") 
                    a.underline.primary(href="") View all blogs
                        
block script